<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>深度教育</title>
    <link rel="stylesheet" href="/web/resources/css/weui.css"/>
    <link rel="stylesheet" href="/web/resources/css/main.css"/>
    <script type="text/javascript" src="/web/resources/js/jquery-3.2.1.min.js"></script>
</head>
<body ontouchstart>

<div class="page" style="opacity: 255;">
    <div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
            <div class="weui-navbar">
                <div class="weui-navbar__item weui-bar__item_on" style="background-color: #09BB07; color: white;">
                    <span style="float: left; margin-left: 5px;"><返回</span>
                    深度教育（高三地理）
                    <img src="/web/resources/images/nav_more_icon.png" style="position: relative; height: 25px; width: 25px; float: right; margin-right: 5px;" />
                </div>
            </div>
            <div class="weui-tab__panel">